.faq-item p {
  display: none;
  height: 0px;
}

/* Style the expanded state */
.faq-item.expanded p {
  display: block;
  height: fit-content;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 50;
}